<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chalk Walk - Callibrate</title>

    <!-- Bootstrap -->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <h1>Please walk around while we calibrate your GPS</h1>
    <h1 id="timer"></h1>
    <ul>Coordinates received:
      <li id="num-coordinates">0</li>
    </ul>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="javascripts/counter.js"></script>
    <script>
      document.addEventListener('DOMContentLoaded', function(){
        // Constants
        var GOOD_GPS_THRESHOLD = 15;
        var TIME = 60;
        
        // watchPosition stuff
        var watch;
        var positionOptions = {maximumAge:0, enableHighAccuracy: true};
        var count = 0;

        // Save the result and transition to the next page
        var timer = new Counter('timer', TIME, function(){
          navigator.geolocation.clearWatch(watch);
          localStorage.callibrate = count >= GOOD_GPS_THRESHOLD;
          window.location = "/";
        });
        timer.countdown();

        // Count the number of coordinates that come in
        function success(position) {
          if (count == 0) setTimeout(function(){endTimer();}, TIME);
          count++;
          document.getElementById("num-coordinates").innerHTML = count;
        }

        // Simple error
        function error() {
          alert("There was an error. Please make sure your GPS is turned on and then refresh the page.");
        }

        watch = navigator.geolocation.watchPosition(success, error, positionOptions);
      });
    </script>
  </body>
</html>
