<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chalk Walk - Draw</title>

    <!-- Include the compiled Ratchet CSS and custom CSS-->
    <!--link href="stylesheets/ratchet.min.css" rel="stylesheet"-->
    <link href="stylesheets/custom_ui.css" rel="stylesheet">  

    <!-- Bootstrap -->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
    <script type='text/javascript' src='https://cdn.firebase.com/js/client/1.0.15/firebase.js'></script>
    <link href="stylesheets/geolocation.css" rel="stylesheet">
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
      body {
        height: 100%;
        overflow: hidden;
      }
      #timer {
        /*position: absolute;
        z-index: 101;*/
        width: 100%;
        text-align: center;
      }
      html { 
        height: 100%; 
      }
      body { 
        height: 100%; 
        margin: 0; 
        padding: 0 
      }
      #countdown-container, #paintbrush-container {
        text-align: center;
        display: none;
      }
      #restart-game-btn {
        display: none;
      }
      #paintbrush-container {
        margin-top:5%;
        width: 100%;
      }
      #knob {width: 75%;}
      #drawing-on {color:green;}
      #drawing-off {color:red;}
      #drawing-on, #drawing-off {display: none;}

      #debug-coordinates {display: none}
    </style>
  </head>
  <body>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            Are you sure you want to end the game?<br>
            <div id="modal-buttons-container" class="text-center">
              <button id="continue-game-btn" type="button" class="btn btn-default btn-lg" data-dismiss="modal">No, continue playing</button>
              <button id="end-game-btn" type="button" class="btn cwButton btn-lg" data-dismiss="modal">Yes, show me my results.</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <h1 id="waiting-msg">Waiting for everyone to enter the room...</h1>
    <div id="countdown-container">
      <h1 id="timer" class="text-center">0:00</h1>
      <button id="show-modal-btn" type="button" class="btn cwButton-neg" data-toggle="modal" data-target="#myModal">End Game</button>
      <button id="restart-game-btn" type="button" class="btn cwButton btn-lg">Play Another Round</button>
    </div>
    <div id="paintbrush-container">
      <!--img id="paintbrush-img" src="images/paintbrush.jpg" alt="paintbrush" />
      <button id="paintbrush" type="button" class="btn btn-success btn-lg btn-block">Paint</button-->
	  <h1 id="instructions">Spin to Draw!</h1>
      <h1 id="drawing-on">Drawing ON!</h1>
      <h1 id="drawing-off">Drawing OFF</h1>
      <img id="knob" src="/images/turner.png" alt="knob" />
    </div>
    <ol id="debug-coordinates">Coordinates</ol>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!--script src="javascripts/ratchet.min.js"></script-->
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="javascripts/canvas-map.js"></script>
    <script src="javascripts/magic-drawer.js"></script>
    <script src="javascripts/counter.js"></script>
    <script src="javascripts/screenshot.js"></script>
    <script src="javascripts/create_results.js"></script>
    <script src="javascripts/endgame.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
    <script src="javascripts/Draggable.min.js"></script>
	<script src="javascripts/create_timer.js"></script>
    <script>
      document.addEventListener('DOMContentLoaded', function(){
        // Initialize
        var fb = new Firebase('https://outdoorspictionary.firebaseIO.com/Games/' + localStorage.game + '/' + localStorage.round);
        var numDrawersReady = 0;
        var timerGame =  new Counter('timer', 1000, function(){
			var image = createResultsPage(userCoords, colorCoords);
			fb.child('drawnImage').push(image.toDataURL());
			localStorage.drawnImage = image.toDataURL();var elt = document.createElement("img");elt.setAttribute('id', 'drawnImage');elt.setAttribute('src', image.toDataURL());document.body.appendChild(elt);
			fb.child('drawnImage').once('child_added', function(snapshot) {
				window.location = '/results';
			});
        });
		 initializeEndGame(timerGame);
        
        // Enter the drawing room and send Firebase an event
        fb.child('drawers').push({username:localStorage.username, color:localStorage.color});

        // Listen to drawers coming into the drawing room and start the game when everybody is in the drawing room
        fb.child('drawers').on('child_added', function(snapshot) {
          numDrawersReady++;
		  console.log(numDrawersReady);
          if (numDrawersReady == localStorage.numDrawers) {
            alert("Start drawing!!!");
            document.getElementById('waiting-msg').style.display = 'none';
            document.getElementById('paintbrush-container').style.display = 'block';
            document.getElementById('countdown-container').style.display = 'block';
            timerGame.countdown();
          }
        });

        // Initialize geolocation tracking code that sends coordinates to Firebase
        initializeDrawing();

        // Stop scrolling so the wheel shows better
        $('body').bind('touchmove', function(e){e.preventDefault()})
      });
    </script>
  </body>
</html>