<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ChalkWalk - Waiting Room</title>
	
	<!-- Sets initial viewport load and disables zooming  -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

    <!-- Makes your prototype chrome-less once bookmarked to your phone's home screen -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!-- Include the compiled Ratchet CSS and custom CSS-->
    <link href="stylesheets/ratchet.min.css" rel="stylesheet">
	<link href="stylesheets/custom_ui.css" rel="stylesheet">	

    <!-- Bootstrap -->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
    <script type='text/javascript' src='https://cdn.firebase.com/js/client/1.0.15/firebase.js'></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
      #drawer-guesser-options, #color-options {
        text-align: center;
        margin-bottom: 5%;
      }
      #start-game-btn {
        display: none;
      }
      .color-box {
        width: 100px;
        height: 100px;
        float: left;
        margin: 2%;
        cursor: pointer;
      }
      #pick-a-color {
        width: 100%;
        text-align: left;
      }
      #level-input-container {
        display: none;
        margin-top:2%;
        margin-bottom: 2%;
      }
    </style>
  </head>
  <body>
	<header class="bar bar-nav cwBanner">
      <h1 class="title cwTitle">Waiting Room</h1>
    </header>
	
	 <!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->

	<div class="content logoBG">
		<h2 id="game-name-header"></h2>
		<button id="leave-game-btn" type="button" class="btn cwButton-neg">Leave Game</button>
		<p>Which position do you want to play?</p>
		<div id="drawer-guesser-options">
		  <label class="radio-inline">
			<input type="radio" checked name="optionsRadios" id="drawerRadio" class="roleRadioButton" value="Drawer"> Drawer
		  </label>
		  <label class="radio-inline">
			<input type="radio" name="optionsRadios" id="guesserRadio" class="roleRadioButton" value="Guesser"> Guesser
		  </label>
		</div>

		<div id='level-input-container'>
		  <p>Select a level:</p>
		  <select id='level-input' class="form-control">
			<option value='easy' selected="selected">Easy</option>
			<option value='medium'>Medium</option>
			<option value='hard'>Hard</option>
		  </select>
		</div>

		<div id="color-options">
		  <div id="pick-a-color">Pick a color:</div>
		</div>

		<table class="table table-striped">
		  <tbody id="role-tbody"></tbody>
		</table>
		<button id="start-game-btn" type="button" class="btn btn-lg cwButton btn-block">Start Game</button>

	</div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="javascripts/ratchet.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="javascripts/role-table.js"></script>
    <script src="javascripts/random-image.js"></script>
    <script src="javascripts/start-button.js"></script>
    <script src="javascripts/color-box.js"></script>
    <script>
      var fb = new Firebase('https://outdoorspictionary.firebaseIO.com/Games/' + localStorage.game + '/' + localStorage.round);
      var userRoleMap = {};
      var roleCounter = {Drawer:0, Guesser:0};

      document.addEventListener('DOMContentLoaded', function(){
        document.getElementById("game-name-header").innerHTML = localStorage.game + " Round " + localStorage.round;
        var colorBox = new ColorBox("color-options");
        colorBox.createColorOptions();

        /* Guard against the user refreshing the page and adding themselves to the game twice.
           If this is the user's first time in the waiting room, add them to the firebase. */
        if (localStorage.waiting == undefined) {
          fb.child('users').push({name:localStorage.username});
          localStorage.waiting = true;
          localStorage.role = 'Drawer';
        }

        // Push role changes to Firebase.
        var radioBtns = document.getElementsByClassName("roleRadioButton");
        Array.prototype.filter.call(radioBtns, function(radioBtn){
          radioBtn.addEventListener("click", function(){
			if (this.value != localStorage.role) {
				localStorage.role = this.value;
				fb.child('roleChanges').push({name:localStorage.username, role:localStorage.role});
				colorBox.showOptions(this.value == 'Drawer');
			}
          });
        });

        // Listen to new users and add them to the table as they enter.
        var roleTable = new RoleTable("role-tbody", localStorage.game);
        fb.child('users').on('child_added', function(snapshot){
          var newUser = snapshot.val();
          roleTable.addUserToTable(newUser.name, userRoleMap);
          roleCounter.Drawer++;
        });

        // Listen to users leaving the game and updating
        fb.child('users_leave').on('child_added', function(snapshot){
          var data = snapshot.val();
          if (data.role == 'Drawer') roleCounter.Drawer--;
          else roleCounter.Guesser--;
          userRoleMap[data.username].parentNode.remove();
          delete userRoleMap[data.username];
        });

        // Listen to role changes.  userRoleMap maps username to DOM td element.
        fb.child('roleChanges').on('child_added', function(snapshot){
          var change = snapshot.val();
		  //alert(userRoleMap[change.name].innerHTML);
		  Window.setTimeout( function() {userRoleMap[change.name] = "bug"; }, 50 );
          //userRoleMap[change.name].innerHTML = change.role();
		  //alert(userRoleMap[change.name].innerHTML);
          if (change.role == 'Drawer') {
            roleCounter.Drawer++;
            roleCounter.Guesser--;
          } else {
            roleCounter.Drawer--;
            roleCounter.Guesser++;
          }
        });

        /* Controls the Start button and listens for when the master presses the start button.
           Stores the random image that the master randomly selected in localStorage. */
        var startButton = new StartButton("start-game-btn", roleCounter, userRoleMap, "level-input", "level-input-container");
        startButton.initialize(localStorage.username);
        fb.child('start').on('child_added', function(snapshot){
          localStorage.numDrawers = roleCounter.Drawer;
          localStorage.imageName = snapshot.val().answer;
          localStorage.imageFile = snapshot.val().file;
          if (localStorage.role == 'Drawer') {
            window.location = '/prep';
          } else {
            window.location = '/guesser';
          }
        });

        // Controls the leave game button
        document.getElementById('leave-game-btn').addEventListener('click', function(){
          fb.child('users_leave').push({username:localStorage.username, role:localStorage.role});       
          window.location = '/';
        });
      });
    </script>
  </body>
</html>