.bar {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 10;
  height: 44px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: white;
  border-bottom: 1px solid #ddd;

  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.bar-nav {
  top: 0;
}

.title {
  position: absolute;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0 -10px;
  font-size: 17px;
  font-weight: 500;
  line-height: 44px;
  color: #000;
  text-align: center;
  white-space: nowrap;
}

.cwBanner {
	background: linear-gradient(#C2EFF2, #42C6CF 85%);
	border-bottom: 3px solid #B1DDE0;
}

.cwProgress{
	background-color: #42C6CF;
}

.cwTextAlign{
	width: 100%;
	text-align: center;
}

.cwTitle {
	color: white;
}

.cwButton {
	color: white;
	background-color: #42C6CF;
	border: 1px solid #C8D7DE;
}

.cwButton:active, .cwButton.active {
	color: black;
	background-color: #B1DDE0;
	border: 1px solid #C8D7DE;
}

.cwButton-neg {
	color: white;
	background-color: #D05D86;
	border: 1px solid #D05D86;
}

.cwButton-neg:active, .cwButton-neg.active {
	color: black;
	background-color: #FFE1D1;
	border: 1px solid #C8D7DE;
}

.content:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: url('../images/logo_trans.png');
	background-image: url('../images/logo_trans.png');
	background-size: 300px;
	background-repeat:no-repeat;
	background-position:center; 
	opacity: 0.3;
}

.logoBG {
	background-color: rgba(177, 221, 224, 0.2);
}

