html, body {
	height: 100%;
}

body {
	font-family: 'Open Sans', sans-serif;
}

nav {
	font-family: 'Open Sans', sans-serif;
}

/* Creates Header Bar */
.bar {
  right: 0;
  left: 0;
  z-index: 10;
  height: 44px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: white;
  border-bottom: 1px solid #ddd;
}

/* Changes Header Bar color: Aquamarine lined with green-blue */
.bar.cwBanner {
	background: #3ACFC0;/*linear-gradient(#C2EFF2, #44EBDA 85%);*/
	border-bottom: 3px solid 00A3A3;
}

/* Attaches Bar to top*/
.bar-nav {
	top: 0;
}

/* Fixes position of header to top */
.bar-nav.fixed {
	position: fixed;
}

/*Moves content down for fixed bar-nav*/
.bar-nav ~ .content {
  padding-top: 44px;
}

.bar-tab ~ .content {
  padding-bottom: 50px;
}

.btn {
  position: relative;
  display: inline-block;
  padding: 6px 8px 7px;
  margin-bottom: 0;
  margin-top: 3px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  color: #333;
  text-align: center;
  white-space: nowrap;
  vertical-align: top;
  cursor: pointer;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.pull-left {
  float: left;
  background-color: #FFAD17;
	border: solid medium white;
	color: white;
}

.bar .btn-nav.pull-left.icon-left-nav {
	margin-right: -3px;
	
	
}

.title {
  position: absolute;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0 -10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 44px;
  color: #000;
  text-align: center;
  white-space: nowrap;
}

.bar-tab {
	position: absolute;
  bottom: 0;
  display: table;
  width: 100%;
  height: 50px;
  padding: 0;
  table-layout: fixed;
  border-top: 1px solid #ddd;
  border-bottom: 0;
}
.bar-tab .tab-item {
  display: table-cell;
  width: 1%;
  height: 50px;
  color: #00A3A3;
  /*color: #929292;*/
  text-align: center;
  vertical-align: middle;
}
.bar-tab .tab-item.active, .bar-tab .tab-item:active {
  color: white;
  background-color: #FFAD17;
}
.bar-tab .tab-item .icon {
  top: 3px;
  width: 24px;
  height: 24px;
  padding-top: 0;
  padding-bottom: 0;
}
.bar-tab .tab-item .icon ~ .tab-label {
  display: block;
  font-size: 11px;
}

/* Changes Progress bar Color: Aquamarine */
.cwProgress{
	background-color: #3ACFC0;
}

.cwTextAlign{
	width: 100%;
	text-align: center;
}

.cwTitle {
	color: white;
}

.cwButton {
	color: white;
	background-color: #3ACFC0;
	border: 1px solid #00A3A3;
}

.cwButton:active, .cwButton.active {
	color: white;
	background-color: #00A3A3;
	border: 1px solid #3ACFC0;
}

.cwButton a.visited{
	color: white:
}

.cwButton a.hover{
	color: white:
}

.cwButton-neg {
	color: white;
	background-color: #D05D86;
	border: 1px solid #D05D86;
}

.cwButton-neg:active, .cwButton-neg.active {
	color: black;
	background-color: #FFE1D1;
	border: 1px solid #C8D7DE;
}

.content{
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	color: #6E6D6D;
}

.content:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	/*background: url('../images/logo_trans.png');
	background-image: url('../images/logo_trans.png');
	background-size: 300px;
	background-repeat:no-repeat;
	background-position:center; */
	background-color: rgba(177, 221, 224, 0.2);
	opacity: 0.3;
}

.logoBG {
	background-color: rgba(177, 221, 224, 0.2);
}

@font-face {
  font-family: Ratchicons;
  font-style: normal;
  font-weight: normal;

  src: url("../fonts/ratchicons.eot");
  src: url("../fonts/ratchicons.eot?#iefix") format("embedded-opentype"), url("../fonts/ratchicons.woff") format("woff"), url("../fonts/ratchicons.ttf") format("truetype"), url("../fonts/ratchicons.svg#svgFontName") format("svg");
}
.icon {
  display: inline-block;
  font-family: Ratchicons;
  font-size: 24px;
  line-height: 1;
  text-decoration: none;

  -webkit-font-smoothing: antialiased;
}

.icon-left-nav:before {
	content: '\e82d';
}

.icon-search:before {
  content: '\e819';
}

.icon-plus:before {
  content: '\e817';
}
