head, body {
	height: 100%;
	width: 100%;
}

.image {
	position: absolute;
}

#images {
	position: relative;
}

#originalImage {
	margin-left: auto;
	margin-right: auto;
	z-index: -1;
}

#outer {
  width: 100%;
  height: 100%;
}

#inner {
  display: inline-block;
  text-align: center;
}
