html, body {
	height: 100%;
  margin: 0px;
background-image: url("paintbrush.jpg");}

#paintbrush {
  position: absolute;
  height: 100px;
  width: 100px;
  margin: 5px;
  z-index: 1;
  padding: 5px;
}

#coords {
    height: 10%;
    margin: 0px;
    padding: 0px;
}

#copyOfMap {
  width: 100%;
  height: 100%;
  margin: 0px;
}

#location {
    height: 50%;
    margin: 0px;
    padding: 0px;
    width: 80%;
}

#done {
  height: 100px;
  width: 100px;
  margin:0px;
  padding:0px;
 }

